package components

css page() {
	background-color: var(--color-crust);
}

templ BasePage() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Neoweb</title>
			<link rel="icon" href="/static/favicon.webp"/>
			<link rel="stylesheet" href="/static/neoweb.css"/>
			<link rel="stylesheet" href="/static/fonts.css"/>
			<script type="text/javascript" src="/static/editor.js"></script>
		</head>
		<body class={ page() }>
			{ children... }
		</body>
	</html>
}
