package components

import "github.com/brocode/neoweb/nvimwrapper"

css editorWrapper() {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

templ Main(nvimResult nvimwrapper.NvimResult) {
	@BasePage() {
		<div id="editor" class={ editorWrapper() }>
			@Editor(nvimResult)
		</div>
		<script>
            initKeyListener()
            initEventSource()
            initPaste()
        </script>
	}
}
